*{
    margin: 0%;
    padding: 0%;
}

$green : #388E3C;
$light : rgba(200, 230, 201, 0.705);
$white : #FFFFFF;
$yello : #CDDC39;
$dark : #212121;
$gray : #757575;

body{
    // background: $gray;
    
}

// Main Survey Box
div.container-box{

    padding-top: 40px;

    border-radius: 12px;

    -webkit-box-shadow: 4px 3px 49px -11px rgba(112,112,112,1);
    -moz-box-shadow: 4px 3px 49px -11px rgba(112,112,112,1);
    box-shadow: 4px 3px 49px -11px rgba(112,112,112,1);

    // background: $white;
    width: 70%;
    height: 500px;
    margin: 50px auto;
    
    nav{

        padding-top: 30px;

        padding-bottom: 100px;

        ul{
            list-style-type: none;
        }
        li{
            position: relative;
            float: left;
            width: 33.3%;
            text-align: center;
            font-family: FontAwesome;
            &.active{
                color: $green;
                border-color: $green;
            }
        }
        li:before{
            font-family: FontAwesome;
            display: block;
            text-align: center;
            border: 1px solid black;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            margin-bottom: 10px;
            padding: 5px;
            font-size: 1.2em;
            line-height: 30px;
            border-radius: 100%;
            background: white;
        }
        li.details::before{
            content : "\f2c2";
        }

        li.stream::before{
            content: "\f19d";
        }

        li.feedback::before{
            content: "\f27a";
        }

        li:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: gray;
            top: 19px;
            left: -50%;
            z-index: -1;
        }
        li:first-child:after{
            content: none;
        }

        li.active:before{
            border-color: $green;
            background: $green;
            color: white;
        }
        li.active + li:after{
            background: $green;
        }
    }


    //Main
    main{
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        
        // background: black;
        #details-page{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 100px;
            // grid-gap: 
            width: 80%;
            // text-align: center;
            margin: 0 auto;
            .input{
                width: 50%;
                label{
                    font-size: 1em;
                    color: $gray;
                    margin-left: 45px;
                }
                input{
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray;
                    font-size: 1.2em;
                    width: 250px;
                    margin-left: 40px;
                }
                margin: 10px;
            }
            .lin{
                // margin-left: 40px;
            }
        }

        #stream{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            margin-bottom: 100px;
            img{
                width: 150px;
            }
            display: none;
        }

    }
    .bottom-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // text-align: center;
        margin-left: 100px;
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 600;
        margin-top: 20px;
        div.left{
            margin-left: 40px;
        }


        a#backbtn{
            background: $dark;
            padding: 8px 100px;
            border-radius: 30px;
            color: $white;
            cursor: pointer; 
        } 

        a#nextbtn{
            background: $green;
            padding: 8px 100px;
            border-radius: 30px;
            color: $dark; 
            cursor: pointer;
        } 
    }

}

.clear{
    clear: both;
}